<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.lightshell.fileupload.FileUploadServlet</servlet-class>
        <init-param>
            <param-name>UploadPath</param-name>
            <param-value>resources//</param-value>
        </init-param>
        <init-param>
            <param-name>BackupPath</param-name>
            <param-value>none</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>http://localhost:8080</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            0
        </session-timeout>
    </session-config>
</web-app>
